<!-- where to Modal -->

<div class="modal where-to" tabindex="-1" role="dialog" id="sign-up-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex;justify-content: center;">
                    <h3 style="font-weight: bold;" class="modal-title">Where to?</h3>
                </div>
                <h1 style="font-weight: bold;" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </h1>
            </div>
            <div class="modal-body">
                <form action='/' method="get" id="registerForm" autocomplete="off">
                    <input type='text' name="city" placeholder='Search destinations'
                        style="width: 100%;padding:10px 24px">
                    <br /> <br />
                    <input id="signupbtn" type='submit' value="Search"
                        style="width: 100% ; background-image: radial-gradient( circle at center,#ff385c 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100% ); color: white ; border: none;">
                    <br /> <br />
                </form>
            </div>
        </div>
    </div>
</div>

<!-- filter Modal -->

<div class="modal filters" tabindex="-1" role="dialog" id="sign-up-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="display: flex;justify-content: center;">
                    <h3 style="font-weight: bold;" class="modal-title">Filters</h3>
                </div>
                <h1 style="font-weight: bold;" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </h1>
            </div>
            <div class="modal-body">
                <form action='/' method="get" id="registerForm" autocomplete="off">
                    <div class="wrpper">
                        <h4 style="text-align: center;font-weight: bold;">Price range</h4>
                        <div class="price-input">
                            <div class="field">
                                <span>Min</span>
                                <input type="number" class="input-min" value="2500">
                            </div>
                            <div class="separator">-</div>
                            <div class="field">
                                <span>Max</span>
                                <input type="number" class="input-max" value="7500">
                            </div>
                        </div>
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" name="minPrice" class="range-min" min="0" max="50000" value="2500"
                                step="100">
                            <input type="range" name="maxPrice" class="range-max" min="0" max="50000" value="7500"
                                step="100">
                        </div>
                    </div>
            </div>
            <br /> <br />
            <input id="signupbtn" type='submit' value="Show places"
                style="width: 90% ; background-image: radial-gradient( circle at center,#ff385c 0%,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100% ); color: white ; border: none;margin: 0 auto;">
            <br /> <br />
            </form>
        </div>
    </div>
</div>
</div>

<section id="mobile" style="width: 100%;">
<div id="mobile-filter" class="container-fluid mt-2 p-0 border border-gray"
    style="border-radius: 35px;border: 0.5px solid rgba(0,0,0,0.08);box-shadow: 0 3px 10px rgba(0,0,0,0.1);display: none;">
    <div class="row" style="margin-top:-5px">
        <div class="col-8">
            <div style="display: flex;justify-content:left;align-items: center;gap:15px;margin-left: 20px;">
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                    focusable="false" style="display: block; height: 16px; width: 16px; fill: currentcolor;">
                    <path
                        d="M13 0c7.18 0 13 5.82 13 13 0 2.868-.929 5.519-2.502 7.669l7.916 7.917-2.828 2.828-7.917-7.916A12.942 12.942 0 0 1 13 26C5.82 26 0 20.18 0 13S5.82 0 13 0zm0 4a9 9 0 1 0 0 18 9 9 0 0 0 0-18z"
                        opacity=".8"></path>
                </svg>
                <div data-bs-toggle="modal" data-bs-target=".where-to">
                    <p style="margin-top: 10px;font-weight: 500; opacity: 1;font-size: 14px;font-weight: 600;">Anywhere</p>
                    <p style="margin-top: -20px;font-weight:400;">Any week . Add guests</p>
                </div>

            </div>

        </div>
        <div class="col-4 pe-2" style="display: flex;justify-content: end;align-items: center;">
            <div class="" data-bs-toggle="modal" data-bs-target=".filters"
                style="border-radius: 50%;border:1px solid gray;width: 40px;height: 40px;display: flex;justify-content: center;align-items: center;margin-right: 12px !important;padding: 5px !important;">
                <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation"
                    focusable="false" style="display: block; height: 16px; width: 16px; fill: rgb(34, 34, 34);">
                    <path
                        d="M5 8c1.306 0 2.418.835 2.83 2H14v2H7.829A3.001 3.001 0 1 1 5 8zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm6-8a3 3 0 1 1-2.829 4H2V4h6.17A3.001 3.001 0 0 1 11 2zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                    </path>
                </svg></div>
        </div>
    </div>
</div>
</section>